.chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #111928;
    color: white;
}

.chat .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;
}

.chat .top .user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat .top .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.chat .top .user .texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat .top .user .texts span {
    font-size: 16px;
    font-weight: bold;
}

.chat .top .user .texts p {
    font-size: 12px;
    color: #a5a5a5;
}

.chat .top .icons {
    display: flex;
    gap: 20px;
}

.chat .top .icons img {
    width: 20px;
    height: 20px;
}

.chat .center {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chat .center::-webkit-scrollbar {
    display: none;
}

.chat .center .message {
    max-width: 70%;
    display: flex;
    gap: 20px;
}

.chat .center .message.own {
    align-self: flex-end;
}

.chat .center .message.own .texts p {
    background-color: #5183fe;
}

.chat .center .message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.chat .center .message .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat .center .message .texts p {
    padding: 10px 15px;
    background-color: #1e2a3b;
    border-radius: 10px;
}

.chat .center .message .texts span {
    font-size: 12px;
    color: #a5a5a5;
}

.chat .bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd35;
    gap: 20px;
}

.chat .bottom .icons {
    display: flex;
    gap: 20px;
}

.chat .bottom img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.chat .bottom input {
    flex: 1;
    background-color: #1e2a3b;
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
}

.chat .bottom input::placeholder {
    color: #a5a5a5;
}

.chat .bottom .sendButton {
    background-color: #5183fe;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}